.content {
  text-align: center;

  img {
    width: 100%;
  }

  &__grid {
    display: flex;

    @include breakpoint-down(small) {
      flex-direction: column;
    }

    &-card {
      background-color: $white;
      color: $bgColor;
      margin: 1rem;
      padding: 2rem;
      border-radius: 0.625rem;

      @include breakpoint-down(small) {
        padding: 1rem;
      }

      p {
        margin: 2rem 0;
      }

      .primary-button {
        margin-bottom: 0.75rem;

        @include breakpoint-down(medium) {
          margin-bottom: 2rem;
        }
      }
    }
  }
}

.macbook-img {
  @include breakpoint-up(large) {
    margin-top: 4.5rem;
  }

  @include breakpoint-down(medium) {
    margin-top: 2rem;
  }
}
