// Colors
$bgColor: #181818;
$white: #ffffff;
$darkGray: #5c5c5c;
$darkerGray: #242424;
$primary: #4452fe;

// Font-sizes
$font-main: 16px;
$font-sm: 0.875rem; // 14px
$font-med: 1.25rem; // 20px
$font-lg: 1.875rem; // 30px
$font-xlg: 3.25rem; // 52px
$font-xxlg: 5rem; // 80px
